# Flutter/Dart
.dart_tool/
.packages
build/
*.iml
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# IDE
.idea/
.vscode/

# 환경/비밀
.env
.env.*
*.jks
key.properties
google-services.json

# OS
.DS_Store
Thumbs.db
*.log
